# Python
__pycache__/
*.pyc

# Build / compiled
*.so
build/
dist/

# Logs
*.log

# Checkpoints / models
*.pth
*.ckpt

# Dataset (very important)
data/
datasets/

# OpenPCDet outputs
output/

# System
.DS_Store
